@media screen and (max-width: 1200px) {
footer {
    position: relative !important;
  }

  .copyright {
    margin-bottom: 50px;
  }
}

.insideFooter {
  display: flex;
  justify-content: center;
  align-items: center;
}
